<html>
  <head>
    <meta charset="utf-8">
    <title>Card Sprint</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
    <!-- We need this line below for responsiveness! -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/components/cards.css">
  </head>
  <body>
    <div class="container">
      <div class="text-top">
        <h1>Card design sprint</h1>
        <p>Code the three cards we saw in the lecture</p>
      </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/food.jpg);">Breakfast
    </div>

    <div class="card-product">
        <img src="images/skate.jpg" class="skate-img" alt="skate">
        <div class="product-name">
          <h2>Product Name</h2>
          <p>Product description with relevant info only.</p>
        </div>
      </div>
    <div class="card-trip">
        <img src="images/travel.jpg" class="travel-img" alt="travel">

        <div class="trip-flexbox">
          <div class="title-text">
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <div class="profile">
            <img src="images/profile_img.jpg" class="profile-img" alt="profile">
            <h2 class="card-trip-pricing">$99.99</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
